.Recipe-list {
  background: url(https://s3.amazonaws.com/earsie-eats.com/recipe-list-background.jpg) no-repeat center center;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
}

.ui.header.Recipe-list-title {
  font-family: 'Indie Flower', cursive;
  font-size: 55px;
}
