.Recipe-details {
  background: url(https://s3.amazonaws.com/earsie-eats.com/recipe-details-background.jpg) no-repeat center center;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
}

.ui.feed.Recipe-details {
  width: 50%;
  margin: 0 auto;
}

.ui.header.Recipe-details-title {
  font-family: 'Indie Flower', cursive;
  font-size: 55px;
}

.ui.header.Recipe-details-title .sub.header {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

.ui.header.Recipe-details-list-header>.icon {
  font-size: 1em;
}
